<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.eroberts.term_tracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/main_title"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name="dev.eroberts.term_tracker.ViewModel.MyReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity
            android:name="dev.eroberts.term_tracker.TermsDetailsActivity"
            android:label="@string/title_activity_terms_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="dev.eroberts.term_tracker.TermsEditActivity"
            android:label="@string/title_activity_terms_edit"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="dev.eroberts.term_tracker.TermsAddActivity"
            android:label="@string/title_activity_terms_add"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="dev.eroberts.term_tracker.CoursesDetailsActivity"
            android:label="@string/title_activity_courses_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="dev.eroberts.term_tracker.CoursesEditActivity"
            android:label="@string/title_activity_courses_edit"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="dev.eroberts.term_tracker.CoursesAddActivity"
            android:label="@string/title_activity_courses_add"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="dev.eroberts.term_tracker.AssessmentsDetailsActivity"
            android:label="@string/title_activity_assessments_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="dev.eroberts.term_tracker.AssessmentsEditActivity"
            android:label="@string/title_activity_assessment_edit"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="dev.eroberts.term_tracker.AssessmentsAddActivity"
            android:label="@string/title_activity_assessments_add"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="dev.eroberts.term_tracker.MentorsDetailsActivity"
            android:label="@string/title_activity_mentors_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="dev.eroberts.term_tracker.MentorsAddActivity"
            android:label="@string/title_activity_mentors_add"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="dev.eroberts.term_tracker.MentorsEditActivity"
            android:label="@string/title_activity_mentors_edit"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="dev.eroberts.term_tracker.MentorsActivity"
            android:label="@string/title_activity_mentors"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="dev.eroberts.term_tracker.AssessmentsActivity"
            android:label="@string/title_activity_assessments"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="dev.eroberts.term_tracker.CoursesActivity"
            android:label="@string/title_activity_courses"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="dev.eroberts.term_tracker.TermsActivity"
            android:label="@string/title_activity_terms"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="dev.eroberts.term_tracker.MainActivity"
            android:label="@string/main_title"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>