<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.eroberts.term_tracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/main_title"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name="dev.eroberts.term_tracker.ViewModel.notification_receiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity
            android:name="dev.eroberts.term_tracker.Terms_Details_Activity"
            android:label="@string/title_activity_terms_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="dev.eroberts.term_tracker.Terms_Edit_Activity"
            android:label="@string/title_activity_terms_edit"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="dev.eroberts.term_tracker.Terms_Add_Activity"
            android:label="@string/title_activity_terms_add"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="dev.eroberts.term_tracker.Courses_Details_Activity"
            android:label="@string/title_activity_courses_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="dev.eroberts.term_tracker.Courses_Edit_Activity"
            android:label="@string/title_activity_courses_edit"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="dev.eroberts.term_tracker.Courses_Add_Activity"
            android:label="@string/title_activity_courses_add"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="dev.eroberts.term_tracker.Assessments_Details_Activity"
            android:label="@string/title_activity_assessments_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="dev.eroberts.term_tracker.Assessments_Edit_Activity"
            android:label="@string/title_activity_assessment_edit"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="dev.eroberts.term_tracker.Assessments_Add_Activity"
            android:label="@string/title_activity_assessments_add"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="dev.eroberts.term_tracker.Mentors_Details_Activity"
            android:label="@string/title_activity_mentors_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="dev.eroberts.term_tracker.Mentors_Add_Activity"
            android:label="@string/title_activity_mentors_add"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="dev.eroberts.term_tracker.Mentors_Edit_Activity"
            android:label="@string/title_activity_mentors_edit"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="dev.eroberts.term_tracker.Mentors_Activity"
            android:label="@string/title_activity_mentors"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="dev.eroberts.term_tracker.Assessments_Activity"
            android:label="@string/title_activity_assessments"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="dev.eroberts.term_tracker.Courses_Activity"
            android:label="@string/title_activity_courses"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="dev.eroberts.term_tracker.Terms_Activity"
            android:label="@string/title_activity_terms"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="dev.eroberts.term_tracker.Main_Activity"
            android:label="@string/main_title"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>